.auto-scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
}

.blog-scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    justify-content: start;
}

body{
    background: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma,  Geneva, Verdana, sans-serif;
}

.blog-updates h2{
    color: darkslateblue;
}


.clients h2{
    color:darkslateblue;
}

.client-card{
    flex: 0 0 auto;
    background: cyan;
    margin: auto;
    width: 25%;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 62% 38% ;

}

.featured-projects{
    margin-top: 20px;
}

.featured-projects h1{
    color: darkslateblue;
    margin: 20px;
}

header{
    background: whitesmoke;
    height:550px;
    margin: 0px;
    margin-bottom: 20px;
    color: darkslategray;
}

header h1{
    text-align:center ;
}

.header-option{
    background: goldenrod; 
    height: 500px;
}


.options-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

section{
    margin-left: 20px;
}

.scrolling-wrapper{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
}


.project-card{
    flex: 0 0 auto;
    background: red;
    height:360px;
    width:25% ;
    margin-right: 20px; 
    text-align: center;
    border-radius: 8px;
}


.blog-card{
    flex: 0 0 auto;
    background: white;
    margin-right: 20px;
    width: 75%;
    height:440px;
    display: grid;
    grid-template-columns: 62% 38%; 
    border-radius: 20px;
}

#culturetopic{
    background-image: url("images/Cultura.jpg");
    background-size: 100%;
    background-position: center;
    
}

#techtopic{
    background-image: url("images/techtopic.png");
    background-size: 100%;
    background-position: center;
}

#researchtopic{
    background-image: url("images/research.jpg");
    background-size: 100%;
    background-position: center;
}

.blog-content{
   background: crimson; 
   display: grid;
   grid-template-rows: 75% 25%;
}

.content{
    background: rgb(255, 248, 235);
    height: 100%;
}

.content-tag{
    background: cyan;
}

.blog-title{
    background: yellow;
    font-size: 3em;
}

footer{
    display: flex;
    background: darkslategray;
    color: whitesmoke; 
}

footer div{
    margin: auto;
}